body {
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	background-color: #DEDEDE;
}
#term-bg{
	z-index:-1;
	position:absolute;
	left:0px;
	top:0px;
	height: 336px; /* 24 rows * 14 px */
	width: 560px;  /* 80 cols *  7 px */
	padding:0px;
	margin:auto;
	background-color:white;
}
#terminal{
	width: 560px;
	height: auto;		
	background-color:white;
/*	
	height: 336px;
	width: 560px;
	overflow: auto;*/
}
#terminal div{
	white-space: pre;
	overflow: hidden;
	font-family: Menlo, monospace;
	font-size:11px;
	height: 14px;				
}
#beep {
	position:absolute;
	top:0px;
}
.loading-container {
	position:fixed;
	left:0px;
	top:0px;
	height: 336px;
	width: 560px;
	padding:0px;
	margin:auto;
}
.loading {
	top:50%;
	margin: -16px auto auto auto;
	z-index: 2;
	position:relative;
	height: 32px;
	width: 32px;
	background-image:url('ajax-loader.gif');
	background-repeat: no-repeat;
}
